/* Reset everything */
	*
	{
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		border: 0px 0px 0px 0px;
		
		/*box-sizing: border-box
		-moz-box-sizing: border-box;*/
		
		font-family:arial;
		font-size:12px;
	}
	a
	{
		cursor:pointer;
		text-decoration:none;
	}
	a:hover
	{
		text-decoration:underline;
	}
	input
	{
		border:1px solid black;
	}

/* advertising header */
.page_advertise_wrapper
	{
		width:980px;
		height:100px;
	
		background-color:white;
	}
/* page header */

	.page_header_wrapper
	{
		width:960px;
		height:75px;
	
		background-color:white;
	}
	
		.page_header_wrapper .img
		{
			width:250px;
			height:75px;
			float:left;
		}
	
		.page_header_wrapper .title
		{
			width:425px;
			height:65px;
				padding-top:10px;
			float:left;
		
			text-align:right;
			
			color:#ADADAD;
		}
	
			.page_header_wrapper .title h1
			{
				padding-bottom:4px;
				
				font-size:14px;
				font-weight:bold;
				color:#666666;
			}
	
		.page_header_wrapper .menu
		{
			width:236px;
			height:75px;
			float:right;
		}
	
			.page_header_wrapper .menu .links
			{
				height:25px;
				padding:5px;
				width :226px ;
				background-color:#4C4D4F;
			}
	
				.page_header_wrapper .menu .links a
				{
					font-size:11px;
					color:#BBBCBE;
				}
	
			.page_header_wrapper .menu .search
			{
				height:30px;
				padding:5px;
                                width :222px ;
				
				background-color:white;
				
				border-left:2px solid #4C4D4F;
				border-right:2px solid #4C4D4F;
			}
	
				.page_header_wrapper .menu .search input
				{
					width:183px;
					
					border:1px solid #A5A5A5;

					color:#727071;
				}

/* top menu */

	.topmenu_wrapper
	{
		width:100%;
		height:25px;
		background-color:#39393B;
	}
	
		.topmenu_wrapper .topmenu
		{
			width:980px;
			height:25px;
		}
		
			.topmenu_wrapper .topmenu .left
			{
				width:680px;
				padding-left:10px;
                                height:25px;
				float:left;
			}

                        .topmenu_wrapper .topmenu .left .category
			{
                            font-style: normal;
			}

                        .topmenu_wrapper .topmenu .left .sub_category
			{
				text-indent :20px ;
                                
			}
                        .topmenu_wrapper .topmenu .left .sub_category a
			{
				font-size :11px ;
			}
                        .topmenu_wrapper .topmenu .left li{
                            text-align:left;
                        }
                        .topmenu_wrapper .topmenu .left li ul li{
                            text-align:left;
                        }
				/*
				.topmenu_wrapper .topmenu .left a
				{
					display:block;
					width:80px;
					height:21px;
						padding-top:4px;
					float:left;
					
					font-size:13px;
					color:#FEFFFF;
				}
				
				.topmenu_wrapper .topmenu .left a:hover
				{
					background-color:#004586;
					text-decoration:none;
				}
				*/
                         
                         
			.topmenu_wrapper .topmenu .right
			{
				width:270px;
				height:22px;
					padding-top:3px;
				float:right;
				
				background-color:#39393B;
				
				font-size:11px;
				color:#FCFDFF;
			}

/* sidebar menu */
    
	.sidebar_menu
	{
		height:416px;
		margin:5px;
		padding:10px;
		
		background-color:white;
		
		text-align:left;
	}
	
		.sidebar_menu select
		{
			width:220px;
		}
	
		.sidebar_menu .item
		{
			display:block;
			font-family:arial,helvetica,sans-serif;
			font-size:19px;
			font-weight:bold;
			color:#666668;
			text-decoration:none;
		}
	
		.sidebar_menu .item:hover
		{
			color:red;
		}
	
		.sidebar_menu .item_selected
		{
			display:block;
			font-family:arial,helvetica,sans-serif;
			font-size:19px;
			font-weight:bold;
			color:#01467D;
			text-decoration:none;
		}
		
		.sidebar_menu .item_selected_blue
		{

		}
	
		.sidebar_menu .submenu
		{
		    padding-left:30px;
		}
		
		    .sidebar_menu .submenu .subitem
		    {
		        display:block;
		        font-family:arial,helvetica,sans-serif;
		        font-size:12px;
		        font-weight:normal;
                        line-height:18px;
                        color:#88898B;
		        text-decoration:none;
		    }
		    
		    .sidebar_menu .submenu .subitem:hover
		    {
		        color:#BC9806;
		    }
                
                
                .sidebar_menu select .category
		{
                        font-weight:bold;
		}

                .sidebar_menu select .sub_category
		{
                    font-size :11px ;
                    margin-left :20px ;
  		}

/* bottom menu */

	.bottom_menu
	{
		padding:10px;
		
		margin:10px;
		
		color:#595556;
		font-family:arial;
		font-weight:bold;
		font-size:11px;
	}
	
		.bottom_menu a
		{
			padding-left:5px;
			padding-right:5px;
			
			color:#393536;
			font-family:arial;
			font-weight:bold;
			font-size:11px;
			text-decoration:none;
		}
		
		.bottom_menu a:hover
		{
			text-decoration:underline;
		}
