<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="org.ussa.model.Member"/>
		<mapping class="org.ussa.model.Division"/>
		<mapping class="org.ussa.model.ParentInfo"/>
		<mapping class="org.ussa.model.Club"/>
		<mapping class="org.ussa.model.Address"/>
		<mapping class="org.ussa.model.AddressPk"/>
		<mapping class="org.ussa.model.State"/>
		<mapping class="org.ussa.model.Nation"/>
		<mapping class="org.ussa.model.Inventory"/>

		<mapping class="org.ussa.model.Batch"/>
		<mapping class="org.ussa.model.BatchDetail"/>
		<mapping class="org.ussa.model.BatchMember"/>
		<mapping class="org.ussa.model.BatchPayment"/>
		<mapping class="org.ussa.model.BatchSequence"/>
		<mapping class="org.ussa.model.InventoryAdd"/>
		<mapping class="org.ussa.model.MemberClub"/>
		<mapping class="org.ussa.model.MemberSeason"/>
		<mapping class="org.ussa.model.MemberLegal"/>
		<mapping class="org.ussa.model.MemberSeasonPk"/>
		<mapping class="org.ussa.model.MemberTransaction"/>
		<mapping class="org.ussa.model.ClubAffiliationHistory"/>
		<mapping class="org.ussa.model.ParameterTable"/>
		<mapping class="org.ussa.model.DivisionAffiliation"/>
	</session-factory>
</hibernate-configuration>