/* headings */

	/* gray */
/*		.gray
		{
			color:#828284;
		}

		.gray_i
		{
			font-style:italic;
			color:#828284;
		}

		.gray_b16
		{
			font-size:16px;
			font-weight:bold;
			color:#828284;
		}
*/
	/* blue*/
/*		.blue
		{
			color:#034C83;
		}

		.blue_b
		{
			color:#034C83;
			font-weight:bold;
		}

		.blue_b28
		{
			font-size:28px;
			font-weight:bold;
			color:#034C83;
		}

		.blue_b40
		{
			font-size:40px;
			font-weight:bold;
			color:#034C83;
		}
*/


	/* black */
/*
		.black
		{
			color:black;
		}

		.black_b11
		{
			font-size:11px;
			font-weight:bold;
			color:black;
		}
*/
	/* separators */
		.dotted_separator
		{
			background-image:  url(../../images/ussa/separator_bg.png);
			height:20px;
			background-position:10px 10px;
			background-repeat:repeat-x;
		}

		.red_separator
		{
			height:5px;
			border:1px solid #014586;
			background-color:#014586;
			font-size:1px;
			margin-top:10px;
			margin-bottom:10px;
		}

		.blue_separator
		{
			height:5px;
			border:1px solid #7289B5;
			background-color:#034C83;
			font-size:1px;
			margin-top:10px;
			margin-bottom:10px;
		}

		.darkyellow_separator
		{
			height:5px;
			border:1px solid #CDAF4D;
			background-color:#BC9B02;
			font-size:1px;
			margin-top:10px;
			margin-bottom:10px;
		}

/* my ussa */
	.my_ussa_white
	{
		font-size:14px;
		font-weight:bold;
		color:#FCFDFF;
	}

	.my_ussa_blue
	{
		font-size:14px;
		font-weight:bold;
		color:#004684;
	}


/* quick pics */

	/* red */

		.quick_events_red
		{
			width:501px;
			height:105px;
  			background-image: url(../../images/ussa/quick_event_red.png);
		}

		.quick_events_red .text
		{
			float:left;
			position:relative;
			top:15px;
			left:20px;
			font-family:arial;
			font-size:13px;
			font-weight:bold;
			color:#F6FFF8;
			text-align:left
		}

		.quick_events_red .pic
		{
			float:right;
			position:relative;
                        right :10px ;
  			top:15px;
			width:148px;
  			text-align:left;
		}

	/* black */

		.quick_events_black
		{
			width:501px;
			height:105px;
			background-image: url(../../images/ussa/quick_event_black.png);
		}

		.quick_events_black .text
		{
			float:left;
			position:relative;
			top:15px;
			left:20px;
			font-family:arial;
			font-size:13px;
			font-weight:bold;
			color:#F6FFF8;
			text-align:left
		}

			.quick_events_black .text .link_gray
			{
				color:#BDBEC6;
			}

		.quick_events_black .pic
		{
			float:right;
			position:relative;
			top:5px;
			width:148px;
			text-align:left;
		}



	/* names */

		.quick_picname_red
		{
			margin:5px;
			width:226px;
			height:59px;
			background-image: url(../../images/ussa/quick_picname_red.png);
		}

		.quick_picname_red .pic
		{
			float:left;
			position:relative;
			top:5px;
			left:3px;
			width:68px;
		}

		.quick_picname_red .name
		{
			position:relative;
			top:20px;
			text-align:center;
			font-family:arial;
			font-size:13px;
			font-weight:bold;
			color:#F6FFF8;
		}


		.quick_picname_darkyellow
		{
			margin:5px;
			width:226px;
			height:59px;
			background-image: url(../../images/ussa/quick_picname_darkyellow.png);
		}

		.quick_picname_darkyellow .pic
		{
			float:left;
			position:relative;
			top:5px;
			left:3px;
			width:68px;
		}

		.quick_picname_darkyellow .name
		{
			position:relative;
			top:20px;
			text-align:center;
			font-family:arial;
			font-size:13px;
			font-weight:bold;
			color:#F6FFF8;
		}

/* box1 - a simple box container */
	.box_container1
	{
		margin:4px;
		text-align:left;
	}

		.box_container1 h1
		{
			font-size:28px;
			font-weight:bold;
			color:#034C83;
		}


		.box_container1 h2
		{
			font-size:16px;
			font-weight:bold;
			color:#828284;
		}

		.box_container1 h3
		{
			font-size:40px;
			font-weight:bold;
			color:#034C83;
		}

		.box_container1 a
		{
			font-style:italic;
			color:#807E7F;
		}

		.box_container1 .header
		{
			height:33px;
				padding-top:2px;

			padding-left:10px;
			padding-right:10px;

			background-image: url(../../images/ussa/box1_header_bg.png);
			background-repeat:repeat-x;
		}

		.box_container1 .content
		{
			padding:5px;
			background-color:white;
		}

/* box2 - a simple box container */
	.box_container2
	{
		margin:4px;
		text-align:left;
	}

	.box_container2 h1
	{
		font-size:15px;
		font-weight:bold;
		color:white;
	}

	.box_container2 h2
	{
		font-size:13px;
		font-weight:bold;
		color:#004988;
	}

	.box_container2 a
	{
		font-style:italic;
		/*color:#807E7F;*/
	}

	.box_container2 select
	{
		width:250px;
	}

		.box_container2 .header
		{
			height:27px;

			background-image: url(../../images/ussa/box2_header_bg.png);
			background-repeat:repeat-x;
		}

			.box_container2 .header .title
			{
				height:23px;
					padding-top:4px;
				padding-left:5px;
				float:left;
			}

			.box_container2 .header .right
			{
				height:27px;
				width:70px;
				background-image: url(../../images/ussa/box2_header_right.png);
				float:right;
			}

		.box_container2 .content
		{
			background-color:white;
			padding:5px;
			color:#807E7F;
		}

/* box container #3 */
	.box_container3
	{
		background-image: url(../../images/ussa/box3_bg.png);
		background-repeat:repeat-x;
		background-color:white;
		width:100%;
		height:100%;

		text-align:left;

		/* default text configuration */
		font-family:arial;
		font-size:11px;
		font-weight:normal;
		color:#7B7D84;
	}

		.box_container3 a
		{
			text-decoration:none;
			font-size:11px;
			font-weight:normal;
			color:#C6A621;
		}

		.box_container3 h1
		{
			font-family:arial;
			font-size:20px;
			color:black;
			font-weight:bold;
		}

		.box_container3 h2
		{
			font-family:arial;
			font-size:20px;
			color:#C6A200;
			font-weight:bold;
		}

		.box_container3 h4
		{
			font-family:arial;
			font-size:12px;
			color:black;
			font-weight:bold;
		}



/* container_white */

	.container_white
	{
		text-align:left;
		margin:4px;
		padding:5px;

		background-color:white;
	}

		.container_white a
		{
			font-style:italic;
			color:#807E7F;
		}

		.container_white h1
		{
			font-size:13px;
			font-weight:bold;
			color:#515256;
		}

		.container_white h2
		{
			font-size:13px;
			font-weight:bold;
			color:#004988;
		}

/* tabbar1 - a simple tabbar */

	.tabbar1
	{
                margin-top:5px;
		height:19px;
		background-image: url(../../images/ussa/tabbar1_bg.png);
	}

		.tabbar1 .item
		{
			width:101px;
			height:19px;
				padding-top:3px;
			float:left;

			text-align:center;
			font-style:normal;
			color:#014586;
			cursor:pointer;

			background-image: url(../../images/ussa/tabbar1_item.png);
		}

		.tabbar1 .item_selected
		{
			width:101px;
			height:19px;
				padding-top:3px;
			float:left;

			text-align:center;
			font-style:normal;
			color:#014586;
                        font-weight:bold;
			cursor:pointer;

			background-image: url(../../images/ussa/tabbar1_item_selected.png);
		}


