<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:jee="http://www.springframework.org/schema/jee"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd"
	   default-lazy-init="true">

	<!-- Add DAOs here -->

	<bean id="addressDao" class="org.ussa.dao.impl.AddressDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="clubDao" class="org.ussa.dao.impl.ClubDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="memberClubDao" class="org.ussa.dao.impl.MemberClubDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="divisionDao" class="org.ussa.dao.impl.DivisionDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="divisionAffiliationDao" class="org.ussa.dao.impl.DivisionAffiliationDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="ussaIdGeneratorDao" class="org.ussa.dao.impl.UssaIdGeneratorDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="memberDao" class="org.ussa.dao.impl.MemberDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
		<property name="ussaIdGeneratorDao" ref="ussaIdGeneratorDao"/>
	</bean>
	<bean id="batchIdGeneratorDao" class="org.ussa.dao.impl.BatchIdGeneratorDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="batchDao" class="org.ussa.dao.impl.BatchDaoImpl">
		<property name="dataSource" ref="dataSource"/>
		<property name="sessionFactory" ref="sessionFactory"/>
		<property name="batchIdGeneratorDao" ref="batchIdGeneratorDao"/>
	</bean>
	<bean id="batchService" class="org.ussa.service.impl.BatchServiceImpl">
		<property name="batchDao" ref="batchDao"/>
		<property name="batchTransactionDao" ref="batchTransactionDao"/>
		<property name="ussaJavaMailer" ref="ussaJavaMailer"/>
	</bean>
	<bean id="stateDao" class="org.ussa.dao.impl.StateDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="nationDao" class="org.ussa.dao.impl.NationDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="parameterTableDao" class="org.ussa.dao.impl.ParameterTableDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="inventoryDao" class="org.ussa.dao.impl.InventoryDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="renewRuleInvDao" class="org.ussa.dao.impl.RenewRuleInvDaoJDBC">
		<property name="dataSource" ref="dataSource"/>
		<property name="inventoryDao" ref="inventoryDao"/>
	</bean>
	<bean id="divDuesRulesDao" class="org.ussa.dao.impl.DivDuesRulesDaoJDBC">
		<property name="dataSource" ref="dataSource"/>
		<property name="inventoryDao" ref="inventoryDao"/>
	</bean>
	<bean id="stateDuesRulesDao" class="org.ussa.dao.impl.StateDuesRulesDaoJDBC">
		<property name="dataSource" ref="dataSource"/>
		<property name="inventoryDao" ref="inventoryDao"/>
	</bean>
	<bean id="memberLegalDao" class="org.ussa.dao.impl.MemberLegalDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="memberSeasonDao" class="org.ussa.dao.impl.MemberSeasonDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="batchTransactionDao" class="org.ussa.dao.impl.BatchTransactionDaoJDBC">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<bean id="disciplineTrackingDao" class="org.ussa.dao.impl.DisciplineTrackingDaoImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<bean id="coachesEducationDao" class="org.ussa.dao.impl.CoachesEducationDaoImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<bean id="memberTransactionDao" class="org.ussa.dao.impl.MemberTransactionDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<bean id="inventoryAddDao" class="org.ussa.dao.impl.InventoryAddDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- USSA EmailUtility -->
	<jee:jndi-lookup id="mailServer" jndi-name="java:comp/env/mail/serverName"/>
	<jee:jndi-lookup id="mailServerPort" jndi-name="java:comp/env/mail/serverPort"/>
	<jee:jndi-lookup id="mailUserName" jndi-name="java:comp/env/mail/userName"/>
	<jee:jndi-lookup id="mailPassword" jndi-name="java:comp/env/mail/password"/>
	<jee:jndi-lookup id="defaultFromAddress" jndi-name="java:comp/env/mail/defaultFromAddress"/>
	<jee:jndi-lookup id="defaultReplyToAddress" jndi-name="java:comp/env/mail/defaultReplyToAddress"/>
	<jee:jndi-lookup id="mailProperties" jndi-name="java:comp/env/mail/properties"/>
	<jee:jndi-lookup id="mailEnabled" jndi-name="java:comp/env/mail/enabled"/>

	<bean id="emailUtility" class="org.ussa.bl.impl.EmailUtilityImpl">
		<property name="host" ref="mailServer"/>
		<property name="port" ref="mailServerPort"/>
		<property name="username" ref="mailUserName"/>
		<property name="password" ref="mailPassword"/>
		<property name="defaultFromAddress" ref="defaultFromAddress"/>
		<property name="defaultReplyToAddress" ref="defaultReplyToAddress"/>
		<property name="mailProperties" ref="mailProperties"/>
		<property name="enabled" ref="mailEnabled"/>
	</bean>

	<!-- Add business logic classes here-->
	<bean id="dateBL" class="org.ussa.bl.impl.DateBLImpl">
		<property name="parameterTableDao" ref="parameterTableDao"/>
	</bean>
	<bean id="rulesBL" class="org.ussa.bl.impl.RulesBLImpl">
		<property name="inventoryDao" ref="inventoryDao"/>
		<property name="renewRuleInvDao" ref="renewRuleInvDao"/>
		<property name="dateBL" ref="dateBL"/>
		<property name="divDuesRulesDao" ref="divDuesRulesDao"/>
		<property name="coachesEducationDao" ref="coachesEducationDao"/>
		<property name="stateDuesRulesDao" ref="stateDuesRulesDao"/>
		<property name="memberTransactionDao" ref="memberTransactionDao"/>
		<property name="memberSeasonDao" ref="memberSeasonDao"/>
		<property name="clubDao" ref="clubDao"/>
		<property name="divisionDao" ref="divisionDao"/>
		<property name="divisionAffiliationDao" ref="divisionAffiliationDao"/>
		<property name="disciplineTrackingDao" ref="disciplineTrackingDao"/>
	</bean>
	
	<!-- Credit Card Test Mode setting - now located in context.xml -->
	<jee:jndi-lookup id="testMode" jndi-name="java:comp/env/authorize/testMode"/>

	<!-- Add service classes here-->
	<bean id="creditCardProcessingService" class="org.ussa.service.impl.AuthorizeNetCreditCardProcessingServiceImpl">
		<property name="testMode" ref="testMode"/>
		<property name="login" value="3M7s8eKK6"/>
		<property name="tranKey" value="57wHJDb4865yc935"/>
	</bean>

	<bean id="memberRegistrationService" class="org.ussa.service.impl.MemberRegistrationServiceImpl">
		<property name="dateBL" ref="dateBL"/>
		<property name="creditCardProcessingService" ref="creditCardProcessingService"/>
		<property name="memberDao" ref="memberDao"/>
		<property name="memberClubDao" ref="memberClubDao"/>
		<property name="batchService" ref="batchService"/>
		<property name="universalDao" ref="universalDao"/>
		<property name="inventoryAddDao" ref="inventoryAddDao"/>
		<property name="inventoryDao" ref="inventoryDao"/>
		<property name="casLdap" ref="casLdap"/>
		<property name="emailUtility" ref="emailUtility"/>
		<!--  <property name="userManager" ref="userManager"/>-->
		<!--  <property name="securityContext" ref="securityContext"/> -->
	</bean>

	<bean id="TimerFactoryBean" class="org.springframework.scheduling.timer.TimerFactoryBean" lazy-init="false">
		<property name="scheduledTimerTasks">
			<list>
				<!-- Batches need to be closed daily at 4PM -->
				<bean class="org.ussa.app.TimerTaskScheduler" lazy-init="false">
					<property name="timerTask" ref="batchCloseTimerTask"/>
					<property name="startTime" value="16:00"/><!--  24 hour clock 0:00 - 23:59 -->
					<property name="period" value="86400000"/><!--  millis between refreshes, 86400000 millis = 24 hours-->
				</bean>
			</list>
		</property>
	</bean>
	
	<!-- Credit Card Test Mode setting - now located in context.xml -->
	<jee:jndi-lookup id="currentMemberGroupName" jndi-name="java:comp/env/ldap/currentMember"/>
	<jee:jndi-lookup id="currentSafeSportGroupName" jndi-name="java:comp/env/ldap/currentSafeSport"/>
	
	<bean name="casLdap" class="org.ussa.bl.impl.CasLdapImpl">
		<property name="ussaLdap" ref="ussaLdap" />
		<property name="currentMemberGroupName" ref="currentMemberGroupName"/>
		<property name="currentSafeSportGroupName" ref="currentSafeSportGroupName"/>
	</bean>
	
	<bean id="ussaLdap" class="org.ussa.ldap.impl.UssaLdapImpl" />

	<bean id="batchCloseTimerTask" class="org.ussa.app.BatchCloseTimerTask">
		<property name="batchService" ref="batchService"/>
	</bean>

</beans>