@charset "UTF-8";
/* CSS Document */

* {
margin: 0;
}
html {
	height:100%;
}
img{
border:0;	
}
body{
	background-color: #004B8E;
   	background-image:url(images/backgrounds/alpine_bg.jpg);
    background-position: center top;
    background-repeat: repeat-y;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: 100%;
    margin: 0;
}
#page-wrapper{
	background: url(images/core/WhiteBackground_wflakes_1175.png) repeat-y scroll center top transparent;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
}
#page {
    border: 1px solid transparent;
    margin-left: auto;
    margin-right: auto;
    padding-right: 5px;
    position: relative;
    width: 975px;
}

#Socialbar ul{
	position:relative;
	float:left;
	width:100%;
	padding:0 0 0 0;
	margin:0;
	list-style:none;
	margin-top: 20px;
	/*border: 1px solid red;*/
}
#Socialbar li {
	float:right;
	margin:0;
	padding:0;
	margin-right: 3px;
}
#Socialbar #signinregister-background {
	background-image:url(images/core/signin_btn.png);
	background-repeat:no-repeat;
	width: 129px;
	height: 28px;
	margin-left: 15px;
	margin-right: 15px;
	font-weight:bold;
	font-size: 13px;
	color:#004685;
	padding-top: 6px;
	letter-spacing: -1px;
	padding-left: 13px;
}

#Socialbar .last{
	margin-right: 20px;	
	margin-left: 20px;
}
#Socialbar span{
	color:#979797;
}

#MainLogoUSSA{
	position:absolute;
	top: 35px;
	left: -10px;
}

#Navbar ul{
	float:left;
	padding:0 0 0 0;
	list-style-type: none;
	background-image:url(images/navs/nav_bg.png);
	background-repeat:no-repeat;
	width:976px;
	height:53px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px; /*This controls the spacing between the navbar and the drupal content*/
	z-index: -3;
	/*border: 1px solid green;*/
}
#Navbar ul a{
	background-image:url(images/navs/nav_div_line.png);
	background-repeat:no-repeat;
	background-position:right;
	padding-right: 15px;
	padding-left: 15px;
	display: block;
	line-height: 53px;
	text-decoration: none;
	color: #FFFFFF;
}
#Navbar li {
	float:left;
	font-weight:bold;
	font-size:12px;
	margin-top: 4px;
}
#Navbar .first{
	margin-left: 245px;	
}
#Navbar .last a{
	background-image:none;	
}
#Navbar .active{
	background-image:url(images/core/navs/alpine_nav.png);
	background-repeat:no-repeat;
	position:relative;
	margin-left: -3px;
	z-index: 5;
}
#Navbar a:link {color:#FFFFFF;} /* unvisited link */
#Navbar a:visited {color:#FFFFFF;}  /* visited link */
#Navbar a:hover {color:#D31245;}  /* mouse over link */
#Navbar a:active {color:#D31245;}  /* selected link */
#main-wrapper {
    position: relative;
}
#footer-social-bar {
    background-image: url(images/core/footer/footer_greybar.png);
    background-position: center top;
    background-repeat: no-repeat;
    color: #666666;
    font-size: 11px;
    height: 33px;
    margin-top: 10px;
    padding-top: 1px;
    width: 960px;
}
#footer-social-bar table {
    margin-top: 4px;
    width: 954px;
}
#footer-sponsor-bar {
    float: left;
    list-style-type: none;
    margin: 0;
    padding-left: 1px;
    width: 960px;
}
#footer-sponsor-bar li {
    float: left;
    margin-right: 20px;
}
#footer-separator-bar {
    background-image: url(images/core/footer/footer_divline.png);
    background-position: left top;
    background-repeat: no-repeat;
    height: 22px;
    margin: 0;
    width: 960px;
}
#footer-text-bar ul {
    float: left;
    list-style-type: none;
    margin: 0;
    padding-left: 105px;
}
#footer-text-bar li {
    float: left;
    font-size: 11px;
}
#footer-text-bar ul a {
    background-image: url(images/core/footer/pipedivider.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    color: #666666;
    display: block;
    padding-left: 6px;
    padding-right: 10px;
}
#footer-text-bar ul .last a {
    background-image: none;
}
.ussa-standard-table {
    border: 1px solid #CCCCCC;
    width: 100%;
}
.ussa-standard-table td {
	padding:7px;
}
.ussa-standard-table th {
    background-color: #E1E2DC;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
	text-align: left;
}
.ussa-standard-table tr.odd {
    background-color: #FFFFFF;
}
.ussa-standard-table tr.even {
    background-color: #F3F4EE;
}

/*Buttons*/
div.ussa-button {
	background: url(images/core/buttons/buttonmask_left.png) no-repeat scroll left top;
	height: 42px;
	display: inline-block;
	outline: medium none;
	text-decoration: none;
	padding-left: 10px;
}
div.ussa-button span{
	background: url(images/core/buttons/buttonmask_right.png) no-repeat scroll right bottom;
	display:block;
	line-height:42px;
	padding-right:10px;
	font-size: 14px;
	color:#FFF;
	font-weight:bold;
}
div.ussa-button-red {
	background: url(images/core/buttons/redbutton_left.png) no-repeat scroll left top;
	height: 42px;
	display: inline-block;
	outline: medium none;
	text-decoration: none;
	padding-left: 10px;
}
div.ussa-button-red span{
	background: url(images/core/buttons/redbutton_right.png) no-repeat scroll right bottom;
	display:block;
	line-height:42px;
	padding-right:10px;
	font-size: 14px;
	color:#FFF;
	font-weight:bold;
}
div.ussa-button-blue {
	background: url(images/core/buttons/bluebutton_left.png) no-repeat scroll left top;
	height: 42px;
	display: inline-block;
	outline: medium none;
	text-decoration: none;
	padding-left: 10px;
}
div.ussa-button-blue span{
	background: url(images/core/buttons/bluebutton_right.png) no-repeat scroll right bottom;
	display:block;
	line-height:42px;
	padding-right:10px;
	font-size: 14px;
	color:#FFF;
	font-weight:bold;
}
div.ussa-button input{
	background-color: transparent;
	border: medium none;
    color: #FFFFFF;
    cursor: pointer;
	font-size: 14px;
	font-weight:bold;
}
div.green {
    background-color: #2A7D22;
}
div.orange {
    background-color: #F27612;
}
div.gray {
    background-color: #999999;
}
div.darkblue {
    background-color: #003B99;
}

div.ussa-button a:link {color:#FFFFFF ; text-decoration: none;} 
div.ussa-button a:visited {color:#FFFFFF ; text-decoration: none;}  
div.ussa-button a:hover {color:#FFFFFF ; text-decoration: underline;}  
div.ussa-button a:active {color:#FFFFFF ; text-decoration: none;} 

div.ussa-button-red a:link {color:#FFFFFF ; text-decoration: none;} 
div.ussa-button-red a:visited {color:#FFFFFF ; text-decoration: none;}  
div.ussa-button-red a:hover {color:#FFFFFF ; text-decoration: underline;}  
div.ussa-button-red a:active {color:#FFFFFF ; text-decoration: none;} 

div.ussa-button-blue a:link {color:#FFFFFF ; text-decoration: none;} 
div.ussa-button-blue a:visited {color:#FFFFFF ; text-decoration: none;}  
div.ussa-button-blue a:hover {color:#FFFFFF ; text-decoration: underline;}  
div.ussa-button-blue a:active {color:#FFFFFF ; text-decoration: none;} 