/* Forms - General
---------------------------------------------------------------------- */
.req-fields {color:#666; margin-bottom:10px;}

form {width:100%;}

fieldset {
	position:relative;
	border:1px solid #ccc;
	padding:10px;
	margin-bottom:20px;
}

fieldset.buttons {border:0;margin-top:-15px;}

legend {
	font:18px tahoma,arial,verdana,sans-serif;
	margin-bottom:15px;
	padding:0 10px;
	color:#000;
}

label {
	text-align:right;
	width:160px;
	float:left;
	margin-right:5px;
	margin-top:4px;
	margin-bottom:5px;
	clear:left;
}

label.radio {display:inline; float:none; width:auto; margin:0; padding:0;}

input {
	float:left;
	margin-bottom:5px;
	width:200px;
	height:20px;
	font-size:12px;
	line-height:20px;
}

select, textarea {
	float:left;
	margin-bottom:5px;
	margin-right:5px;
	width:200px;
	font-size:12px;
}

.radios input {display:inline; float:none; width:auto; height:auto; border-style:none; margin-bottom:-1px; padding:0;}
.radios {float:left;}

.checkbox input {width:20px;}
.checkbox label {width:100px; margin:0; text-align:left;}

.textfield-short input {width:30px;}

select {margin-bottom:5px;width:auto;}

input.btn-green, input.btn-green-sm, input.btn-red {
	padding:3px;
	margin-right:5px;
	color:#006600;
	border:1px outset #ccc;
	background:url(tile_button_green.gif) repeat-x bottom left;
	font:14px tahoma,arial,verdana,sans-serif;
	width:auto;
	height:30px;
}
input.btn-green-sm {
	padding:1px 3px 4px 3px;
	margin-left:5px;
	font:12px tahoma,arial,verdana,sans-serif;
	width:auto;
	height:21px;
}
input.btn-red {color:#a91c1c; background:url(tile_button_red.gif) repeat-x bottom left;}

.data-input {
	display:block;
	margin:5px 0 5px 0;
}

#nation-code {
	display:none;
}

.feo {color:#999;}